<section class="container">
  <!-- form register -->

  <section class="col-6 mx-auto">
    <h4 class="text-center">Register</h4>
    <section class="form-group mt-3">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
      />
    </section>
    <section class="form-group mt-3">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
      />
    </section>
    <section class="form-group mt-3">
      <label for="password">Password:</label>
      <input
        type="text"
        class="form-control"
        id="password"
        name="password"
      />
    </section>
    <section class="form-group text-center mt-4">
      <input class="btn btn-primary"  value="Register" />
    </section>
    <section class="form-group text-center mt-4">
      <a routerLink="/login" class="btn btn-secondary">Login</a>
    </section>
  </section>
</section>
